* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* Left Menu */
.sidebar {
    width: 320px;
    background-color: #2a2b2b;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #334155;
}

/* Right Content */
.content {
    flex: 1;
    padding: 25px;
    background-color: #f1f5f9;
}

.card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

.data-table th,
.data-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.data-table th {
    background-color: #c6c5c5;
    color: rgb(0, 0, 0);
}

.data-table tr:hover {
    background-color: #f1f5f9;
}

/* Edit Button */
.edit-btn {
    color: #2563eb;
    font-size: 18px;
    text-decoration: none;
}

.edit-btn:hover {
    color: #1d4ed8;
}


.notification {
    background-color: #e0f2fe;
    border-left: 5px solid #0284c7;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notification-list {
    height: 50%;
}
.notification-box{
    margin: 0 0 25% 25% ;
}
.notification-box > input {
    
    border: #6e53d3;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}
.notification-btn {
    background-color: #6e53d3;
    color: white;
    border: #6e53d3;
    padding: 10px;
    border-radius: 10px;
}
.notification span {
    font-size: 14px;
}

.notification-actions {
    display: flex;
    gap: 10px;
}

/* Delete Button */
.delete-btn {
    color: #dc2626;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.delete-btn:hover {
    text-decoration: underline;
}
